{% extends 'base_home.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/fileupload.css' %}">
    <link rel="stylesheet" href="{% static 'css/fileinput.css' %}">
{% endblock %}

{% block content %}
    <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}

            <div id="div_id_attachment" class="form-group attachment ">
                {% if  'osavatar' in attachtype or 'sizespecf' in attachtype or 'quotation' in attachtype %}
                <input id="fileupload" type="file" name="file" class="inputfile" data-url="{% url 'sample:sampleattachadd' pk=sample.pk attachtype=attachtype%}" >
                {% else %}
                <input id="fileupload" type="file" name="file" class="inputfile" data-url="{% url 'sample:sampleattachadd' pk=sample.pk attachtype=attachtype%}"  multiple>
                {% endif %}
                <label for="fileupload">请点击选择文件...</label>
            </div>

                {% if request.user.is_merchandiser or request.user.is_office or request.user.is_merchandiser_manager%}
                {% if  'step2' in previous_url %}
                    <a class="btn btn-block btn-outline-primary" href="{% url 'sample:sampleaddstep2' pk=sample.pk %}" role="button">返回</a>
                {% else %}
                    <a class="btn btn-block btn-outline-primary" href="{% url 'sample:sampleedit' sample.pk %}" role="button">返回</a>
                {% endif %}
            {% else %}
                <a class="btn btn-block btn-outline-primary" href="{% url 'sample:sampledetail' sample.pk %}" role="button">返回</a>
            {% endif %}

    </form>
{% endblock %}

{% block script%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script src="{% static 'js/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'js/jquery.fileupload.js' %}"></script>
<script src="{% static 'js/fileupload.js' %}"></script>
{% endblock %}