{% extends 'base_file_upload.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
{% endblock %}

{% block content %}
<div>
  <div class="form-group d-flex flex-wrap align-items-end">
    {% for attach in attaches %}
        <a href="{{attach.file.url}}">
        <img src="{{ attach.file.url}}" width=300 height=300 class="img-thumbnail"></a>    
      {% if order.status == 'NEW' or order.status == 'SENT_FACTORY' or order.status == 'CONFIRMED' %}
            <a data-title="提示" class="delete" href="{% url 'order:orderattachdelete' pk=order.pk attachtype=attachtype attach_pk=attach.pk %}">
            <i class="mx-2 far fa-trash-alt fa-1x"></i></a> 
      {% endif %}
    {% endfor %}
  </div>
  <div class="form-group">
    {% if order.status == 'SHIPPED'%}
       <a class="btn btn-block btn-outline-primary" href="{% url 'order:orderdetail' pk=order.pk%}" role="button">返回</a>
    {% else %}
        {% if request.user.is_merchandiser or  request.user.is_merchandiser_manager%}
          <a class="btn btn-block btn-outline-primary" href="{% url 'order:orderedit' pk=order.pk%}" role="button">返回</a>
        {% else%}
          <a class="btn btn-block btn-outline-primary" href="{% url 'order:orderdetail' pk=order.pk%}" role="button">返回</a>
        {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}

{% block script %}
<!-- 删除项目确认js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script>
    $('a.delete').confirm({
        content: "确定要删除此附件吗？",
        icon: 'fa fa-warning',
        typeAnimated: true,
        buttons: {
        确认: {
            btnClass: 'btn-default',
            action:function(){
            location.href = this.$target.attr('href');
            },},
        取消: {
            action:function () {
            //close
            },
        }}
    });
</script>
{% endblock %}
