{% extends 'base_home.html' %}
{% load static %}
{% load widget_tweaks %}
{% load basename %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<!-- 需要重新加载一次，否则页面颜色显示有点问题 -->
<link  rel="stylesheet"  type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
<!-- 日期选择器，必须在本页面加装js和bootstrap，否则无效 -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
{{ form.media }}
<!-- 样式被更改，需要重新加载一次用户样式 -->
<link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock%}

{% block content %}
<div class="col-12 col-md-12 pl-0 h-100">
    <div class="col-12">
        <p style="font-weight: bolder; margin-bottom: 3px;">订单信息汇总:</p>
    </div>
    <div class="formdiv border border-1 rounded p-3 mb-3">
        {% for order in orderlist %}
        <div class="row align-items-end">
            <div class="col-sm">
                <div class="form-group">
                    <div class="col-12 text-left pl-0">
                        <img src="{{ order.avatar.file.url}}" class="w-100" height=125px alt="款式图" >
                    </div>
                </div>
            </div>
            <div class="col-sm ">
                <div class="form-group">
                    <div class="col-12 text-left pl-0">
                        <label for="po">订单号</label>
                    </div>
                    <div class="fielddetail col-12 border border-1 rounded text-left">
                        {{ order.po}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-12 text-left pl-0">
                        <label for="style_no">款号</label>
                    </div>
                    <div class="fielddetail col-12  border border-1 rounded text-left">
                        {{ order.style_no}}
                    </div>
                </div>
            </div>
            <div class="col-sm ">
                <div class="form-group">
                    <div class="col-12 text-left pl-0">
                        <label for="brand">品牌</label>
                    </div>
                    <div class="fielddetail col-12  border border-1 rounded text-left">
                        {{ order.brand}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-12 text-left pl-0">
                        <label for="designer">买手</label>
                    </div>
                    <div class="fielddetail col-12  border border-1 rounded text-left">
                        {{ order.designer}}
                    </div>
                </div>
            </div>
            <div class="col-sm ">
                <div class="form-group">
                    <div class="col-12 text-left pl-0">
                        <label for="destination">目的地</label>
                    </div>
                    <div style="min-height: 38px" class="fielddetail col-12  border border-1 rounded text-left">
                        {% if not order.destination %}
                        
                        {% else %}
                            {{ order.get_destination_display }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-12 text-left pl-0">
                        <label for="tran_type">运输类型</label>
                    </div>
                    <div style="min-height: 38px"  class="fielddetail col-12  border border-1 rounded text-left">
                        {{ order.get_tran_type_display}}
                    </div>
                </div>
            </div>
            <div class="col-sm ">
                <div class="form-group">
                    <div class="col-12 text-left pl-0">
                        <label for="style">款式</label>
                    </div>
                    <div style="min-height: 38px"; class="fielddetail col-12  border border-1 rounded text-left">
                        {% if not order.style %}
                        
                        {% else %}
                            {{ order.style}}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-12 text-left pl-0">
                        <label for="packing_type">包装方式</label>
                    </div>
                    <div style="min-height: 38px" class="fielddetail col-12  border border-1 rounded text-left">
                        {% if not order.packing_type %}
                        
                        {% else %}
                            {{ order.packing_type}}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm ">
                <div class="form-group">
                    <div class="col-12 text-left pl-0">
                        <label for="order_type">订单类型</label>
                    </div>
                    <div style="min-height: 38px" class="fielddetail col-12  border border-1 rounded text-left">
                        {{ order.get_order_type_display}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-12 text-left pl-0">
                        <label for="handover_date_d">码标类型</label>
                    </div>
                    <div style="min-height: 38px" class="fielddetail col-12  border border-1 rounded text-left">
                        {% if not order.labeltype %}
                        
                        {% else %}
                            {{ order.get_labeltype_display }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <div class="col-12 text-left pl-0">
                        <label for="handover_date_d">主唛</label>
                    </div>
                    {% if not order.main_label %}

                    {% else %}
                        <div class="col-12 text-left pl-0">
                            <img src="{{ order.main_label.file.url}}" class="w-100" height=125px alt="主唛" >
                        </div>
                    {% endif %} 
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <div class="col-12 text-left pl-0">
                        <label for="handover_date_d">挂牌</label>
                    </div>
                    {% if not order.main_tag %}

                    {% else %}
                    <div class="col-12 text-left pl-0">
                        <img src="{{ order.main_tag.file.url}}" class="w-100" height=125px alt="挂牌" >
                    </div>
                    {% endif %} 
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <div class="col-12 text-left pl-0">
                        <label for="handover_date_d">附加挂牌</label>
                    </div>
                    {% if not order.addition_tag %}

                    {% else %}
                    <div class="col-12 text-left pl-0">
                        <img src="{{ order.addition_tag.file.url}}" class="w-100" height=125px alt="附加挂牌" >
                    </div>
                    {% endif %} 
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <div class="col-12 text-left pl-0">
                        <label for="addition_tag">挂衣绳</label>
                    </div>
                    <div style="min-height: 38px" class="fielddetail col-12  border border-1 rounded text-left">
                        {% if not order.PHangingtape %}
                        
                        {% else %}
                            {{ order.PHangingtape}}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <div class="col-12 text-left pl-0">
                        <label for="addition_tag">洗水唛</label>
                    </div>
                    <div style="min-height: 38px" class="fielddetail col-12  border border-1 rounded text-left">
                        {% if not order.PWashinglabel %}
                        
                        {% else %}
                            {{ order.PWashinglabel}}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <div class="col-12 text-left pl-0">
                        <label for="addition_tag">备用扣</label>
                    </div>
                    <div style="min-height: 38px" class="fielddetail col-12  border border-1 rounded text-left">
                        {% if not order.PSparebutton %}
                        
                        {% else %}
                            {{ order.PSparebutton}}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-sm">
                <div class="table-responsive">
                    <label for="">包装要求</label>
                    <table class="table table-sm table-bordered mb-1">
                        {% for packingway in packingway_dict|get_item:order.pk%}
                        <tr class="text-left fielddetail">
                            <td>{{packingway.description}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="row my-2" style="min-height: 150px;">
            <div class="col-12">
                <div class="form-group">
                    <span >订单数量</span>
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered">
                                <thead>
                                    <tr class="text-center">
                                        <th colspan="3" scope="col">颜色</th>
                                        <th class="align-middle" rowspan="2" scope="col">比列</th>
                                        <th colspan="6" scope="col">尺码</th>
                                        <th colspan="2" scope="col">数量</th>
                                    </tr>
                                    {% if order.brand.name == 'You+All'%}
                                    <tr class="text-center">
                                        <th scope="col">中文</th>
                                        <th scope="col">英文</th>
                                        <th scope="col">色号</th>
                                        <th scope="col">16</th>
                                        <th scope="col">18</th>
                                        <th scope="col">20</th>
                                        <th scope="col">22</th>
                                        <th scope="col">24</th>
                                        <th scope="col">26</th>
                                        <th scope="col">中包</th>
                                        <th scope="col">件数</th>
                                    </tr>
                                    {% else %}
                                        {% if order.labeltype == 'NUMBER'%}
                                        <tr class="text-center">
                                            <th scope="col">中文</th>
                                            <th scope="col">英文</th>
                                            <th scope="col">色号</th>
                                            <th scope="col">6</th>
                                            <th scope="col">8</th>
                                            <th scope="col">10</th>
                                            <th scope="col">12</th>
                                            <th scope="col">14</th>
                                            <th scope="col">16</th>
                                            <th scope="col">中包</th>
                                            <th scope="col">件数</th>
                                        </tr>
                                        {% else %}
                                            {% if order.created_date.date < date_allysize.date %}
                                            <tr class="text-center">
                                                <th scope="col">中文</th>
                                                <th scope="col">英文</th>
                                                <th scope="col">色号</th>
                                                <th scope="col">XS</th>
                                                <th scope="col">S</th>
                                                <th scope="col">M</th>
                                                <th scope="col">L</th>
                                                <th scope="col">XL</th>
                                                <th scope="col">XXL</th>
                                                <th scope="col">中包</th>
                                                <th scope="col">件数</th>
                                            </tr>
                                            {% else %}
                                            <tr class="text-center">
                                                <th scope="col">中文</th>
                                                <th scope="col">英文</th>
                                                <th scope="col">色号</th>
                                                <th scope="col">XXS</th>
                                                <th scope="col">XS</th>
                                                <th scope="col">S</th>
                                                <th scope="col">M</th>
                                                <th scope="col">L</th>
                                                <th scope="col">XL</th>
                                                <th scope="col">中包</th>
                                                <th scope="col">件数</th>
                                            </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </thead>
                                {% if colorqtys_dict %}
                                    {%for colorqty in colorqtys_dict|get_item:order.pk%}
                                    <tr  class="text-center fielddetail">
                                        <td>{{colorqty.color_cn}}</td>
                                        <td>{{colorqty.color}}</td>
                                        <td>{{colorqty.color_no}}</td>
                                        <td>{{colorqty.ratio}}</td>
                                        {% if colorqty.size1 == 0 %}
                                        <td></td>
                                        {% else %}
                                        <td>{{colorqty.size1}}</td>
                                        {% endif %}
                                        {% if colorqty.size2 == 0 %}
                                        <td></td>
                                        {% else %}
                                        <td>{{colorqty.size2}}</td>
                                        {% endif %}
                                        {% if colorqty.size3 == 0 %}
                                        <td></td>
                                        {% else %}
                                        <td>{{colorqty.size3}}</td>
                                        {% endif %}
                                        {% if colorqty.size4 == 0 %}
                                        <td></td>
                                        {% else %}
                                        <td>{{colorqty.size4}}</td>
                                        {% endif %}
                                        {% if colorqty.size5 == 0 %}
                                        <td></td>
                                        {% else %}
                                        <td>{{colorqty.size5}}</td>
                                        {% endif %}
                                        {% if colorqty.size6 == 0 %}
                                        <td></td>
                                        {% else %}
                                        <td>{{colorqty.size6}}</td>
                                        {% endif %}
                                        {% if colorqty.bags == None %}
                                        <td></td>
                                        {% else %}
                                        <td>{{colorqty.bags}}</td>
                                        {% endif %}
                                        <td>{{colorqty.qty}}</td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                <tr>
                                    <td class="fielddetail text-center" colspan="12" scope="col">尚未添加</td>
                                </tr>
                                {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.last %}
        
        {% else %}
            <div class="divider py-0 bg-secondary"><hr></div>
        {% endif %}

        {% endfor %}
        <div class="row">
            <div class=" col-sm">
                <div class="form-group">
                    <a href="" class="btn btn-block btn-outline-primary" onclick="window.print()" role="button">打印</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}