{% extends 'base_home.html' %}
{% load static %}
{% load basename %}
{% load crispy_forms_tags %}


{% block css%}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<!-- 删除项目控件的CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-12 col-md-12">
        {% if new_reports %}
            <div class="alert alert-primary" role="alert">
                该订单有{{new_reports.count}}份新建状态的报告，是否继续！
            </div>
            <ul class="list-group">
                {% for new_report in new_reports %}
                <li class="list-group-item">创建时间:{{new_report.created_date |date:"Y/m/d"  }}</li>
                <li class="list-group-item">创建人:{{new_report.created_by}}</li>
                <li class="list-group-item">状态:{% if new_report.status == 'NEW'%}新建{%endif%}</li>
                <div class="form-group mt-2">
                    <a class="btn btn-block btn-outline-primary" href="{% url 'order:updateqcreport' pk=new_report.pk %}" role="button">继续</a>
                </div>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}

