label {
    margin-bottom: 2px!important;
    }

.form-group {
    margin-bottom: 2px!important; 
    }

.fielddetail {
    background-color: white !important;
    padding-top: 6px;
    padding-bottom: 6px;
}
form {
    background-color: #F7F7F7;
}

.formdiv {
    background-color: #F7F7F7;
}
