body, html, .container-fluid {
  height: 100%;
}

.card, body {
  background-color: #F5F5F5;
}

.logo {
  font-family: 'Diplomata', cursive;
  font-family: 'Noto Serif SC', serif;
  font-family: 'Zhi Mang Xing', cursive;
  font-size: 3em;
  color: #0069D9;
}


.form-signin {
  margin-top: 0;
  min-width: 18em;
}

