
body, button, input, select,
textarea, h1 ,h2, h3,
h4, h5, h6, p { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif !important;}

html,
body,
.container-fluid{
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}


.fas {
  color: #007BFF !important;
}

.step {
  background-color: #F7F7F7;
}
